@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Black.ttf') format('ttf');
  font-style: normal;
  font-weight: 900;
}

/* Webfont: Roboto-BlackItalic */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 900;
}

/* Webfont: Roboto-Bold */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

/* Webfont: Roboto-BoldItalic */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 700;
}


/* Webfont: Roboto-Italic */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Italic.ttf') format('ttf');
  font-style: italic;
  font-weight: normal;
}

/* Webfont: Roboto-Light */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}


/* Webfont: Roboto-Regular */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: Roboto-Semibold */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-Semibold.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

/* Webfont: Roboto-SemiboldItalic */
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto/Roboto-SemiboldItalic.ttf') format('ttf');
  font-style: italic;
  font-weight: 500;
}
